body {
    --bs-body-font-family: "Inter",sans-serif; 
}

.custom-bg{
    background-color: #F7F8FC;
}
 
.navbar{
    list-style: none;
}

// For screens large and up, change the bg colour to dark
@media (min-width: 992px) {      
    .custom-logo{
        background-color: #212529;
    }
  }

.navbar p{
    margin-bottom: 0;
}

#username{
    margin-right: 10px;
}

.custom-ul {
    li {
      height: 50px;
    }
}


.custom-status-card{
    .card-title{
        color:#ACAFBE;
    }    
    transition: all 0.25s ease;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;

    &:hover {
        transform: translateY(-2px); 
        border-color: #3751ff;
        cursor: pointer;

        .card-title {
            color: #3751ff;
            font-weight: 500;
        }

        .card-text {
            color: #3751ff;
            font-weight: 600;
        }
    }
}
  
.custom-sidebar {
    li {
      padding-top: 5px;
      padding-bottom: 5px;
    }
}
  
.custom-btn {
    svg {
      color: #F0F1F7;
      background-color: #A0A3B5;
      border-radius: 4px;
    }
}