body {
    font-family: "Inter", sans-serif;
}

.custom-bg{
    background-color: #F7F8FC;
}
 
.navbar{
    list-style: none;
}

.navbar p{
    margin-bottom: 0;
}

#username{
    margin-right: 10px;
}

.custom-ul li{
    height: 50px;
}

.custom-sidebar li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-btn svg{
        color: #F0F1F7;
        background-color: #A0A3B5;
        border-radius: 4px;
}